/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

form {
  label {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
  }

  .submit-quote {
    width: 40%;
    padding: 0.4rem;

    @include desktop {
      width: 20%;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  background: transparent;
  border: 1px solid #0c0;
  border-radius: 3px;
  margin-top: 0.5rem;

  &:focus {
    color: #fff;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
  width: 50%;

  @include desktop {
    padding: 10px;
    width: 35%;
  }
}

textarea {
  padding: 1rem 3px 1rem 0;
  width: 100%;

  @include desktop {
    padding: 1.5rem 0;
  }
}

.search-label {
  .search-field {
    width: 100%;
  }
}

.fa.fa-search {
  margin-left: 0.5rem;
}
