/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

form {
  label {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
  }

  .submit-quote {
    width: 40%;
    padding: 0.4rem;

    @include desktop {
      width: 20%;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  background: transparent;
  border: 1px solid #0c0;
  border-radius: 3px;
  margin-top: 0.5rem;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
  width: 50%;

  @include desktop {
    width: 30%;
  }
}

textarea {
  padding-left: 3px;
  width: 100%;
}
