/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body {
  background: #222222;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  position: relative;
}

.preload {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  //   background: #333;
  //   z-index: 9999;
  display: none;
}

a,
a:visited {
  text-decoration: none;
  color: #0c0;
}

a:hover {
  color: #090;
}

.logo {
  width: 250px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

header {
  margin: 3rem 0 2rem 0;
}

.get-quotes {
  border: 2px solid #0c0;
  background: transparent;
  padding: 0.8rem 2.2rem;
  color: #0c0;
  margin: 1rem 0;
  font-size: 1rem;

  &:hover {
    border-color: #090;
    color: #090;
  }
}

.site-main {
  margin-bottom: 3rem;
}

footer {
  margin: 4rem 0 3rem 0;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  li {
    padding-right: 0.5rem;
    border-right: 1px solid #fff;
    line-height: 1;

    &:nth-child(2),
    &:last-child {
      padding-left: 0.5rem;
    }

    &:last-child {
      border: none;
    }
  }

  p {
    margin: 0;
    font-size: 0.95rem;
  }
}

/* All Archives Page */

/* Submit a Quote Page */
