.archive {
  article {
    border-top: 1px dashed #fff;
    padding: 1rem 0;

    &:last-of-type() {
      border-bottom: 1px dashed #fff;
    }
  }
}

.page-id-226 {
  section {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    a {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-right: 1.125rem;
    }
  }
}
